* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1f2937;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button,
div {
  background-color: hsl(160, 84%, 39%);
  color: white;
  border: none; 
  font-weight: 100;
  padding: .5rem 0;
  width: 10%;
  border-radius: 5px;
  text-align: center;
  margin-top: 1rem;
}
button:hover {
    cursor: pointer;
    background-color: hsl(160, 84%, 29%);
    cursor: pointer;

  }
button:active {
    transform: scale(.99);
}
div {
    background: white;
    color: black;
    width: 30%;
    height: 2rem;
    line-height: 2rem;
    padding: 0;
  }